name: Multi-Service Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Service 1
        run: mvn -f SERVICE1_FOLDER_NAME/pom.xml clean install -DskipTests=false

      - name: Build Service 2
        run: mvn -f SERVICE2_FOLDER_NAME/pom.xml clean install -DskipTests=false

      - name: Build Service 3
        run: mvn -f SERVICE3_FOLDER_NAME/pom.xml clean install -DskipTests=false
